<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bst.Lyfe">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.OverviewActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"></activity>
        <activity
            android:name=".activities.SignUpMobileVerificationActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.SignUpBasicInformationActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.SignUpPasswordActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.DisclaimerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.SignInActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.BloodFactsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.BloodDonateActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.ActivityBloodDonateInfo"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.AboutActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.SettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.MobilePinActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.MPINSignInActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name="com.facebook.LoginActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDksi_DO-3cqXx6DF3C5LH7UcHqbzM-oNE" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
    </application>

</manifest>
